*{
    margin: 0px;
}
input{
    border: 0;
    background-color: transparent;
    padding: 10px;
    font-size: 32px;
    color: #0A3871;;
}
aside span{
    font-size: 12px;
    color: #495057;
}
button{
    color: #0A3871;
    transition: transform .1s;
}
button:hover{
    transform: scale(1.1);
    border: 3px solid gold;
}
input{
    color: #0A3871;
    transition: transform .2s;
}
input:hover{
    transform: scale(1.1);
    color: #1c4780;
}
.resultado{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    font-size: 24px;
    height: 90%;
    width: 90%;
    color: grey;
    text-align: left;
    overflow : auto;
}
aside{
    background-color: white;
    box-shadow: 0px 0px 35px black;
    
}

@media only screen and (min-width : 1032px) {

    body{
        background-color: #F3F5FC;
    }
    form{
        font: Inter;
    }
    h1{
        position: absolute;
        left: 4vh;
        right: 0px;
        top: 6vh;
        bottom: 0%;
    }
    input{
        position: absolute;
        left: 15%;
        right: 62%;
        top: 16vh;
        bottom: 80%;
        height: auto;
        width: 37%;
    }
    aside{
        position: absolute;
        left: 65%;
        right: 10%;
        top: 4%;
        bottom: 4%;
        background-color: #FFFFFF;
        border-radius: 32px;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .8);
    }
    aside svg{
        margin: 45% auto;
        height: 40%;
        width: 90%;
    }
    aside h2{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 65%;
        bottom: 75%;
    }
    aside p{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 75%;
        bottom: 90%;
    }
    button{
        border-radius: 24px;
        width: 17%;
        height: 7%;
    }
    .dos{
        position: absolute;
        top: 85%;
        left: 35%;
        background-color: #D8DFE8;
    
        border: 1px solid #0A3871;
    }
    .uno{
        position: absolute;
        left: 15%;
        top: 85%;
        background-color: #0A3871;
        color: white;
    }
    span{
        position: absolute;
        top: 80%;
        left: 15%;
    }
}
@media only screen and (min-width : 640px) and (max-width : 1032px) {

    body{
        background-color: #F3F5FC;
    }
    form{
        font: Inter;
    }
    h1{
        position: absolute;
        left: 4vh;
        right: 0px;
        top: 6vh;
        bottom: 0%;
    }
    input{
        position: absolute;
        left: 5%;
        right: 15%;
        top: 20%;
        bottom: 65%;
        height: 15%;
        width: 90%;
    }
    aside{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 70%;
        bottom: 5%;
        border-radius: 32px;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .8);
    }
    aside svg{
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    aside h2{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 25%;
    }
    aside p{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 60%;
    }
    button{
        border-radius: 24px;
        width: 42.5%;
        height: 8%;
    }
    .dos{
        position: absolute;
        top: 60%;
        right: 5%;
        background-color: #D8DFE8;
    
        border: 1px solid #0A3871;
    }
    .uno{
        position: absolute;
        left: 5%;
        top: 60%;
        background-color: #0A3871;
        color: white;
    }
    span{
        position: absolute;
        top: 55%;
        left: 5%;
    }
}
@media only screen and (min-width : 240px) and (max-width : 640px) {

    body{
        background-color: #F3F5FC;
    }
    form{
        font: Inter;
    }
    h1{
        position: absolute;
        left: 4vh;
        right: 0px;
        top: 6vh;
        bottom: 0%;
    }
    input{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 20%;
        bottom: 0%;
        height: 7%;
        width: 90%;
    }
    aside{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 70%;
        bottom: 5%;
        background-color: #FFFFFF;
        border-radius: 32px;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .8);
    }
    aside svg{
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    aside h2{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 25%;
    }
    aside p{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 70%;
    }
    button{
        border-radius: 24px;
        width: 90%;
        height: 8%;
    }
    .dos{
        position: absolute;
        top: 55%;
        left: 5%;
        background-color: #D8DFE8;
    
        border: 1px solid #0A3871;
    }
    .uno{
        position: absolute;
        left: 5%;
        top: 45%;
        background-color: #0A3871;
        color: white;
    }
    span{
        position: absolute;
        top: 65%;
        left: 5%;
    }
}